{% extends "layout.html" %}
{% block title %}Economic Growth and Institutional Changes{% endblock %}
{% block content %}
    <h2>Economic growth originated from institutional changes</h2>

    <ul>
        <li style="text-align: justify;">
            Solow's neoclassical model (1956): different growth rates depend on different saving rates, which are comprehended as more significant rates of capital by workers.
            <ul>
                <li style="text-align: justify;">However, the essential productivity factors are not machines nor equipment but land;</li>
                <li style="text-align: justify;">therefore, responsiveness to increased land per worker allows us to assess this hypothesis.</li>
            </ul>
        </li>
        <li style="text-align: justify;">
            As Headey and Hodge (2009, p. 221), a positive effect from WAP to growth:
            <ul>
                <li style="text-align: justify;">Adult population increase, especially in developing areas with intensity on labor resources, especially for a period of a quarter of century.</li>
                <li style="text-align: justify;">WAP and change in young dependence ratio is achieved, economic growth can be also achieved, by increasing in savings, as Rios-Neto (2009, p. 48) stated after commenting the revision made by Headey and Hodge.</li>
            </ul>
        </li>
        <li style="text-align: justify;">
            The incentive of private property is the basis for capitalistic institutions (ibidem, 2012, p. 25).
            <ul>
                <li style="text-align: justify;">Guaranteed by the institution of Land Market in Mato Grosso.</li>
                <li style="text-align: justify;">Became feasible by connections that romped the isolation with the Transports, so as the presence of the state.</li>
                <li style="text-align: justify;">Confluence in the Rural Enterprise, with sufficient shreds of evidence to be centralized, as stated at the beginning of this chapter, and of being more inclusive than the reminiscences of Portuguese America.</li>
            </ul>
        </li>
        <li style="text-align: justify;">
            With Centralization, even if institutions were extractive, growth could be placed as the elites allocated resources in high-productivity activities, such as commodity exportation.
            <ul>
                <li style="text-align: justify;">Like the commendas of Venice, when the elites allowed the creation of new institutions that facilitated creative destruction (ibidem, 2012, pp. 152 – 157).</li>
                <li style="text-align: justify;">In Mato Grosso, lands were sold to companies that did colonization projects, which brought a new class of landowners and incentives to be productive farmers.</li>
            </ul>
        </li>
        <li style="text-align: justify;">
            To connect Solow's (1957) foundational growth model with both earlier concepts like Schumpeter's creative destruction (2006, p. 83) and later theories such as Acemoglu and Robinson's (2013) inclusive institutions: Jones and Romer (2010).
            <ul>
                <li style="text-align: justify;">Comprehensive lens through: interplay of population growth, TFP and institutional dynamics.</li>
                <li style="text-align: justify;">This integrated perspective is crucial for explaining how Solow's model contributes to our understanding of the growth spurt experienced in Mato Grosso during that period.</li>
            </ul>
        </li>
        <li style="text-align: justify;">
            A Cobb-Douglas production function will be employed, capital accumulation will proceed according to a saving function, assuming that economic agents maximize their utility both presently and intertemporally, as in Equation 1.
        </li>
    </ul>

    <div style="background-color:#f4f4f4; padding: 15px; margin-top: 15px; border-left: 5px solid #ccc;">
        <h4 style="margin-top:0;">Equation 1 – Form of production function</h4>
        <p>$$ Y_t = A_t K_t^\alpha L_t^{1-\alpha} $$</p>
        <p><strong>Legend:</strong></p>
        <ul style="list-style-type: none; padding-left: 10px;">
            <li>$Y_t$: Total production</li>
            <li>$A_t$: Labor productivity</li>
            <li>$K_t$: Capital</li>
            <li>$L_t$: labor</li>
            <li>$\alpha$: coefficient</li>
        </ul>
    </div>

    <ul>
        <li style="text-align: justify;">As population grows, labor productivity (A) is expected to increase, depending on the employability conditions of the labor force. In essence, this productivity growth is influenced by the prevailing institutional conditions, which can be symbolized by the variable $\gamma$. This Growth condition is presented in Equation 3. Institutional factors align with Jones and Romer's (2010) discussion on the importance of institutions in facilitating growth and resource allocation, particularly as it relates to the extent of the market (their first stylized fact) and how efficiently inputs are utilized (related to their fourth stylized fact).</li>
    </ul>

    <div style="background-color:#f4f4f4; padding: 15px; margin-top: 15px; border-left: 5px solid #ccc;">
        <h4 style="margin-top:0;">Equation 3 - Growth condition</h4>
        <p>$$ \frac{dA_t}{dt} = \gamma L_0 e^{nt} $$</p>
        <p>$$ \frac{dA_t}{dt} = \gamma \frac{dL_t}{dt} $$</p>
        <p><strong>Legend:</strong></p>
        <ul style="list-style-type: none; padding-left: 10px;">
            <li>$\frac{dA_t}{dt}$: derived Labor productivity in relation to time</li>
            <li>$\gamma$: institution</li>
            <li>$L_0$: initial population</li>
            <li>$n$: populational rate of increase</li>
            <li>$L_t$: labor</li>
        </ul>
    </div>
    
    <ul>
        <li style="text-align: justify;">Exogenous shocks to $\gamma$ and on $n$ explain changes in the behavior of these functions. A $\gamma$ shocked both by institutional changes or derived from the shocks on growth of population could lead to becoming closer from the technological frontier and increase growth (the third fact). These shocks represent the critical junctures that appeared throughout history.</li>
    </ul>

{% endblock %}