{% extends "layout.html" %}
{% block title %}Final Considerations{% endblock %}
{% block content %}
    <h2>Final Considerations</h2>
    <ul>
        <li>
            Such a pattern of growth is consistent with a process of differentiation in agricultural development, where regions with institutional changes achieved a higher growth trajectory
            <ul>
                <li>As pointed out by North (pp. 13-17) and Ruttan and Hayami (1984, pp. 3–4), and as further stated by Acemoglu and Robinson (2012, p. 73), these shifts profoundly influenced the economy and incentives among people during the period.</li>
                <li>However, the full potency of these changes did not occur due to opportunistic actions stemming from a limited government role in trilateral governance, a consequence of fiscal consolidation.</li>
                <li>After the critical juncture brought by the Military Regime, conditions were placed, specifically in the Land Market and Transports, synthesized in the Rural Enterprise, for these regions to achieve higher growth patterns than the stagnant ones.</li>
            </ul>
        </li>
        <li>
            Hence, it must be stressed that public policies for growth must account for institutions such as the Land Market and Transport to decrease transactional costs and uncertainty.
            <ul>
                <li>Failure to do so leads to failures like previous colonization projects</li>
            </ul>
        </li>
        <li>As the Rural Enterprise, the synthesis institution, as an inclusive one in Acemoglu's sense, it enables growth by allowing for creative destruction.</li>
    </ul>
{% endblock %}