{% extends "layout.html" %}
{% block title %}Introduction{% endblock %}
{% block content %}
    <h2>Introduction</h2>
    <p style="text-align: justify;">This master's thesis analyzes the divergent paths of agricultural growth across municipalities in the state of Mato Grosso from the 1960s onward.</p>
    <ul>
        <li style="text-align: justify;">Underlying issue addressed in this thesis is to identify the mechanisms that drove agricultural economic growth within the Immediate Regions of Mato Grosso.</li>
        <li style="text-align: justify;">Key issue is to demonstrate that institutions, when considered in public policies, can generate economic growth.</li>
        <li style="text-align: justify;">They connect to the main goal of this thesis: to show that inclusive institutions promoted growth in Mato Grosso state.</li>
    </ul>

    <h3>Remaining institutions of Portuguese America:</h3>
    <ul>
        <li style="text-align: justify;">Reliance on primary goods in raw form, without statal presence.</li>
        <li style="text-align: justify;">Large groups of interest, as individuals or companies, have a large share of economic activities, individually bigger than the government.
        <li style="text-align: justify;">Labor market marked by slavery.</li>
        <li style="text-align: justify;">Relative void of dynamic activities. Economic extractive institutions lagged in the 21st century in Mato Grosso regarding raw products, concentration of activities, a deficient labor market, and relative lack of dynamism.</li>
    </ul>
    </li>
    </ul>
{% endblock %}