{% extends "layout.html" %}
{% block title %}New Institutional Economy{% endblock %}
{% block content %}
    <h2>New Institutional Economy: growth under extractive institutions</h2>

    <ul>
        <li style="text-align: justify;">New Institutional Economics composes the framework for the analysis, as seen in the central hypothesis.
            <ul style="list-style-type: circle;">
                <li style="text-align: justify;">Institutions as the mechanisms for executing the rules of economic comportment to decrease uncertainty by reducing transactional and production costs North (2018, pp. 13-17).</li>
                <li style="text-align: justify;">Ruttan and Hayami (1984, pp. 3 – 4) propose institutions as the rules that facilitate coordination among people to form expectations from each part of the exchanges.</li>
                
                <li style="text-align: justify;">Acemoglu and Robinson (2013): the difference in growth is due to ownership of the land and to incentives of farmers, marked in the institutions, as they stated (ibidem, 2012, p.51) in America. Expanding this description, they conclude that different institutions are the cause of economic growth, which, in the first case, promoted growth, being inclusive, and in another, did not (ibidem, 2012, p. 73), being extractive.
                    <ul style="list-style-type: square;"> <li style="text-align: justify;">Institutions in politics are inclusive, in the sense of the authors (ibidem, 2012, p. 80), when there is sufficient centralization and pluralism.</li>
                        <li style="text-align: justify;">When only one is present, they function as extractive ones.</li>
                        <li style="text-align: justify;">Notwithstanding, economic growth could be present even when a situation like this occurs.</li>
                    </ul>
                    </li>
            </ul>
        </li>
    </ul>
{% endblock %}