{% extends "layout.html" %}
{% block title %}Theoretical Framework{% endblock %}
{% block content %}
    <h2>Theoretical Framework</h2>
    <p>The New Institutional Economics composes the framework for the analysis.</p>
    <h3>Subsections:</h3>
    <ul>
        <li><a href="{{ url_for('new_institutional_economy') }}">New Institutional Economy: growth under extractive institutions</a></li>
        <li><a href="{{ url_for('economic_growth_institutional_changes') }}">Economic growth originated from institutional changes</a></li>
        <li><a href="{{ url_for('mato_grosso_production_function') }}">Mato Grosso Production Function</a></li>
    </ul>
{% endblock %}